
#intro {
    border-radius: 100px 100px 100px 100px;
    border: solid 2px;
    padding: 40px;
    margin: 50px 40px 40px 40px;
    text-align: center;    
    
}

body {
    padding: 0;
    margin: 20px;
    background: linear-gradient(240deg, rgb(61, 132, 134), rgb(143, 188, 218));

}
/*about me*/
h1.titulo {
    text-align: center;
    color: rgb(100, 6, 11);
    font-size: 100pt;
    text-shadow: 6px 3px 5px rgb(46, 7, 7);
    font-family: 'Cabin Sketch', cursive;
}
/*primer parrafo*/
p.primerP {
    font-family: 'Indie Flower', cursive;
    font-size: 35px;
    text-align: center;
}
.resaltarT {
    background-color: rgb(104, 63, 156);
}
/*---------*/
/*solo learn*/
div.imagen {
    border-radius: 15px 15px 15px 15px;
    border: solid 2px;
    padding: 40px;
    background: linear-gradient(45deg, blue, rgb(65, 211, 65));
    text-align: center;
}
p.parrafoSL {
    font-family: 'Kalam', cursive;
    font-size: 30px;   
}
a.linkSL {
    font-family: 'Kalam', cursive;
    font-size: 30px;
    color: black;
}

/*estilo de letras de skills*/
h2.monospace {
    font-family: "Courier New", Courier, monospace;
}

h2.letras {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
p.letras2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a.calcu {
    font-style: italic;
    color: black;
}
/*diseño de boton*/
.diseño-b {
    display: grid;
    justify-content: center;
    align-content:center;     
}
h3.bot {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.diseño-b > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}
.diseño-b > button:hover{
    background-color: rgba(106, 24, 160, 0.9);
}

ul.monospace {
    font-family: "Courier New", Courier, monospace;
}
h3.tabla1 {
    text-align: center;
    font-style: italic;
}


.fondoM {
    width: 150px;
    color: black;
    background-color:rgb(42, 110, 173);
}
.fondoF {
    width: 150px;
    color:black;
    background-color:rgb(56, 95, 167)
}