
#intro {
    color: black;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #134092, #b11cc5da);
}
/*div {
    display: block;
    border:1px solid#000;
    background-color: rgb(206, 87, 206);
}
*/
h1.center {
    text-align: center;
    color: rgb(85, 7, 85);
    font-size: 50pt;
    text-shadow: 6px 3px 5px rgb(35, 7, 46);
    font-family: Helvetica, Arial, sans-serif;
}
p.cursive {
    font-family: Florence, cursive;
}
a.italic {
    font-style: italic;
    color: black;
}
/*estilo de letras de y skills*/
h2.monospace {
    font-family: "Courier New", Courier, monospace;
}

h2.letras {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    text-align: center;
}
p.letras2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ul.monospace {
    font-family: "Courier New", Courier, monospace;
}
h3.tabla1 {
    text-align: center;
    font-style: italic;
}


.fondoM {
    width: 150px;
    color: black;
    background-color:rgb(42, 110, 173);
}
.fondoF {
    width: 150px;
    color:black;
    background-color:rgb(56, 95, 167)
}